
<div ng-if="response.success == false && response.message != ''" class="alert alert-danger">{{ response.message }}</div>

<ul>
    <li ng-repeat="todo in todos">
        <input type="button" class="btn btn-danger todo-delete" ng-click="removeTodo(todo)" value="×" />
        <div class="todo-title">{{ todo.title }}</div>
        <span class="todo-meta">{{ todo.insertDate }}</span>
    </li>
</ul>

<hr>

<form class="form-inline">
    <textarea class="todo-title-form" ng-model="todo.title"></textarea>
    <input type="button" class="btn btn-primary" ng-click="insertTodo()" value="Insert" />
</form>


